canvas {
    float: right;
    margin-right: 14vh;
    display: block;


    border-radius: 10px;
    border-style: solid;
    border-color: saddlebrown;

    width: 50vh;
    height: 50vh;
    text-align: center;
   
    
}
body{
    align-items: center;
}


div {
    border-color: saddlebrown;
    background-color: sandybrown;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    word-wrap: normal;
}


#clockContainer {
    float: left;
    width: 25vh;
    height: 25vh;
    background-size: 100%;
    background-color: sandybrown;
    margin-left: 20%;
    margin-top: 7%;
    background-image: url('https://i.imgur.com/3Vl194j.png');
}

#clockHand {
    position: relative;
    background: black;
    border-style: none;
    transform-origin: bottom;
    width: 5%;
    height: 30%;
    top: 20%;
    left: 47.5%;


}


#textContainer {
 
    width: 50vh;
    height: 17vh;
    margin: auto;
    visibility:hidden;
}

#mainTextBox {
    border-color: sandybrown;
    width: 49vh;
    height: 7vh;
    margin: 5px auto;
    font-size: 1.5vw;
    visibility:hidden;

}

.textChoice {
    width: 15vh;
    height: 7vh;
    display: inline-block;
    margin-top: 10px auto;
    margin-bottom: 10px auto;
    margin-left: 10px auto;
    margin-right: 10px auto;
    font-size: 1.5vw;
    visibility:hidden;

    
}


#clock-canvas-container {
    width: 100%;
    height: 50vh;

    border-radius: 0;
    border-color: none;
    background-color:lightblue;

   
    border-radius: none;
    border-style: none;
}


#text-box-container{
    width: 100%;
    height: 45vh;

    border-radius:0;
    border-color: none;
    background-color:lightblue;

   
    border-radius: none;
    border-style: none;
}

#controls {
    width: 30vh;
    height: 45vh;
    float: right;
    margin-top: 3vh;
    margin-right: 36vh;
}

#close-button{
    width: 100px;
    height: 40px;
    margin: auto;

}