canvas {
    
    display: block;
    outline:1px solid;
    width: 500px;
    height: 500px;
    text-align: center;
    margin:auto;
    
}

#clockContainer {
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-color: black;
    margin: auto;
    background-image: url('https://i.imgur.com/lxO1VIL.jpeg');
}

#clockHand {
    position: relative;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
    width: 5%;
    height: 30%;
    top: 20%;
    left: 47.5%;


}


