
form {
    border-color: saddlebrown;
    background-color: sandybrown;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    word-wrap: normal;
    margin:auto;

    width: 50%;
    height: 100%;
}

body {
    background-color: lightblue;
}


div {
    border-color: saddlebrown;
    background-color: sandybrown;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    word-wrap: normal;

}

.mobileButton{
    
width: 20%vw;
height: 10%vw;
    

}

.browserButton{
    
    width: 20%vw;
    height: 10%vw;

}



